.add-teacher {
}

.teacher-list-title {
  margin: 20px 10px 0px 10px;
  color: darkslategray;
  font-size: 20px;
  font-weight: 600;
}

.teacher-list {
  color: darkslategray;
}

.add-teacher-container {
  margin: 20px 20px 50px 20px;
}
